<body>
    
<main class="container">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250" style="height: 600px;background-color: bisque;" >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">Rank : {{movie.rank}}</strong>
          <strong class="d-inline-block mb-2 text-primary-emphasis">IMDB Rating : {{movie.rating}}</strong>
          <h3 class="mb-0">{{movie.title}}</h3>
          <div class="mb-1 text-body-secondary">{{movie.year}}</div>
          <h5>Genre:</h5>
          <p *ngFor="let genre of movie.genre" class="card-text"> * {{genre}}</p>
        </div>
        <div class="col-auto d-lg-block">
            <img [src]="movie.image" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
</main>
</body>