<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/image/logo.svg" alt="Logo" width="50" height="30" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a *ngIf="isLoggedIn()==true" class="favorite" routerLink="/movies"
        [queryParams]="{isFavorites: 'true'}">Favorite</a>
      </ul>
      <div class="d-flex" style="width: 300px;">
        <input class="form-control" id="movieName" placeholder="Search Movies" [(ngModel)]="filterText" />
        <button class="btn btn-warning btn-sm" type="submit" routerLink="/movies"
          [queryParams]="{filter: filterText}"><span class="material-symbols-outlined">
            search
          </span></button>

      </div>
      <button class="btn btn-warning btn-sm" type="submit" style=" margin-left: 10px;"
        routerLink="/login" *ngIf="isLoggedIn()==false">Login</button>
      <button class="btn btn-warning btn-sm" type="submit" style="margin-left: 10px;" (click)="logout()" *ngIf="isLoggedIn()==true">Log
        out</button>
    </div>
  </div>
</nav>